*.egg-info/
archive/
old_scripts/
*A
*.png
build/
dist/
prot1_plate1/
plate1_data/
first500k_prediction
*csv*
*.swn
scaled_x_500k
training_eg_01
pred_eg_01*
clomp*
*.pyc
*.swp
*.swo
old*
*.txt
X
Y
Z
*01
*.pickle
*X
*Y
*.npy
*.csv
*.db
