*.egg-info/
paper/
archive/
old_scripts/
env/
*A
*.log
*.png
build/
dist/
prot1_plate1/
plate1_data/
first500k_prediction
*csv*
*.swn
scaled_x_500k
training_eg_01
pred_eg*
query_eg*
clomp*
training_eg_*
*.list
*.pyc
*.swp
*.swo
old*
*.txt
X
Y
y
yp*
Z
*01
*.pickle
*X
*Y
skl_log_pred_y
*.npy
*.csv
*.db
